.loader-box{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
  margin-bottom: 20px;
}

.loader{
  display: block;
  margin: 10px auto;
  width: 50%;
  height: auto;
  display: none;
  /* background: yellow; */
}


.info{
  background: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

