@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@300&family=Open+Sans&family=Patrick+Hand&family=Poppins&family=Raleway&family=Sofia+Sans:wght@300;500&family=Unbounded&display=swap');

/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Sofia Sans', sans-serif;
font-family: 'Unbounded', cursive;
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background: whitesmoke;
  font-family: 'Lato', sans-serif;
}

main{
  min-height: 100vh;
}

/* Nav Style */
nav{
  background: #222;
  /* background: white; */
  padding: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 0 15px rgba(0,0,0,.15);
  color: black;
}

nav p{
  /* color: #f2088b; */
  color: white;
}


nav .github{
  font-size: 1.4rem;
}

/* Header Style */
header{
  margin: 15px;
  text-align: center;
  display: flex;
}

header h1{
  margin-bottom: 10px;
  color: gray;
}

header p{
  font-family: 'Poppins', sans-serif;
}

.form{
  background: white;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 0px 15px rgba(0,0,0,.15);
}

/* Hide default styles */
input[type=file] {
  /* display: none; */
}

.input-box{
  position: relative;
  margin-bottom: 20px;
}

/* Style the label to look like a button */
.image-label {
  display: block;
  padding: 10px 20px;
  background-color: #ff0093;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-family: Sans-Serif;
}

/* Style the input to overlay the label and trigger the file selection */
.image-input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* margin-top: 10px; */
  /* margin-bottom: 5px; */
}

.upload-icon{
  position: absolute;
  top:13px;
  bottom:0;
  right: 20px;
  color: white;
  pointer-events: none;
}


/*Api Key Input Box Style*/
.api-label{
  
}

.api-input{
  display: block;
  width: 100%;
  border: 1px solid lightgray;
  outline:0;
  height: 35px;
  border-radius:5px;
  padding: 0 5px;
  margin-top: 7px;
}

.btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  color: white;
  border: 0;
  margin: 5px 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}


.remove-btn{
  background: #f2088b;
  border: 2px solid none;
  color: white;
}


.download-btn{
  background: none;
  border: 1px solid #f2088b;
  color: black;
}

.download-btn:active{
  background: #f2088b;
  color: white;
}

.download-btn:active ~ .icon-download{
  color: white;
}

/* Icons In Button */
.relative{
  position: relative;
}

.icon{
  position: absolute;
  top:22px;
  bottom:0;
  right: 20px;
  color: white;
  pointer-events: none;
  font-size: 1.2rem;
}

.icon-download{
  color: black;
}

.disabled{
  background: #6bcac9;
}

.selectedImageBox{
  display: none;
  margin-bottom: 0;
}

.selectedImageBox{
  /* border: 2px solid lightgray; */
  border-radius: 5px;
  background: red;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#selectedImage{
  display: none;
}

#selectedImage{
  display: none;
  width: 100%;
  border: 2px solid lightgray;
}


/*Toast Styl*/
.toast-box{
  background: white;
  color: black;
  padding: 15px;
  position: fixed;
  top: -100vh;
  left:0;
  right:0;
  overflow: scroll;
  border-bottom: 4px solid #f2088b;
  box-shadow: 1px 0 15px rgba(0,0,0,.20);
  transition: .2s ease-out;
  z-index: 999;
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

.toast-box > p{
  margin-top: 10px;
}

.toast-box > p span{
  display: block;
  text-indent: 24px;
}

.toast-type-icon{
  font-size: 1.3rem;
  position: absolute;
}

.toast-type-icon-error{
  color: #f2088b;
}

.toast-type-icon-success{
  color: #00c94f;
}

.close-icon{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.3rem;
}

footer{
  text-align: center;
  margin-top: 10px;
  background: #222;
  padding: 20px;
}

footer a{
  color: white;
}

footer p{
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: .8rem;
}
